body {
    width: 200px;
}
#clean-button {
    height: 40px;
    background-color: #00E676;
    color: white;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    border-radius: 5px;
    width: 194px;
    margin: 20px auto 0;
    cursor: pointer;

}
#clean-to-year {
    margin-bottom: 10px;
}
#title{
    text-align: center;
}
